name: Validate Pull Request

on:
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.12'

      - name: Build
        run: |
          export GOOS=linux
          export GOARCH=arm64
          go build -o app

      - name: Run Go Vet (Optional)
        run: go vet ./...

      - name: Run Tests (Optional)
        run: go test ./...
